{% extends 'model.html' %}
{% load static %}



{% block content %}
    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
    {% endif %}
  <div class="container-fluid">
                <div class="row">
                    <!-- Stats -->
                    <div class="outer-w3-agile col-xl">
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between bg-success">
                            <div class="s-l">
                                <h5>Equipements </h5>
                                <p class="paragraph-agileits-w3layouts">Actif</p>
                            </div>
                            <div class="s-r">
                                <h6 id="equipNombre">{{ equipementNombre }}
                                    <i class="far fa-smile"></i>
                                </h6>
                            </div>
                        </div>

                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between bg-warning">
                            <div class="s-l">
                                <h5>Utilisateur</h5>
                                <p class="paragraph-agileits-w3layouts">Total</p>
                            </div>
                            <div class="s-r">
                                <h6>{{ userNombre }}
                                    <i class="fas fa-users"></i>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!--// Stats -->
                    <!-- Pie-chart -->
                    <div class="outer-w3-agile col-xl ml-xl-3 mt-xl-0 mt-3">

                        <div class="chart-container" style="position: relative; height:40vh; width:40vw ;bottom:40px">
                        <canvas id="bandeTotal"></canvas>
                     </div>
                    </div>

                    <!--// Pie-chart -->
                </div>
            </div>
            <!-- Simple-chart -->





{% endblock %}