{% extends 'model.html' %}
{% load static %}

{% block content %}
<body>


    <div class="outer-w3-agile mt-3">
                    <div class="table-responsive">
                            <table class="table col-xl mr-xl-3">
                                <thead>
                                    <tr>
                                        <th scope="col">Profil</th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                        <tbody>
                                <tr class="">
                                    <th scope="row">Login</th>
                                    <td>{{ user.login }}</td>

                                </tr>
                                <tr class="">
                                    <th scope="row">Email</th>
                                    <td>{{ user.email }}</td>

                                </tr>
                                 <tr class="">
                                    <th scope="row">Role</th>
                                    <td>{{ user.role }}</td>

                                </tr>


                        </tbody>
                    </table>
                         </div>
                    </div>



{% endblock %}


















