{% extends 'model.html' %}
{% load static %}

{% block content %}
    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="info success"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>


    {% endif %}
<div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Utilisateurs</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Login</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                           {% for utilisateur in utilisateurs %}
                                <tr>
                                <th scope="row">{{ utilisateur.id }}</th>
                                <td>{{ utilisateur.login }}</td>
                                <td>{{ utilisateur.email }}</td>
                                <td>{{ utilisateur.role }}</td>
                                <td><a href="{% url 'dashborad:userEdit' id=utilisateur.id %}"class="btn btn-success">Modifier</a> <a href="{% url 'dashborad:userDelete' id=utilisateur.id %}"class="btn btn-danger">Supprimer</a></td>


                            </tr>
                           {% endfor %}

                        </tbody>
                    </table>
            </div>

{% endblock %}