{% extends 'model.html' %}
{% load static %}

{% block content %}
    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>


    {% endif %}
<div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Striped Rows</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse IP</th>
                                <th scope="col">Adresse MAC</th>
                                <th scope="col">Etat</th>

                            </tr>
                        </thead>
                        <tbody>
                           {% for equipement in equipements %}
                                <tr>
                                <th scope="row">{{ equipement.id }}</th>
                                <td>{{ equipement.nom }}</td>
                                <td>{{ equipement.adresse_ip }}</td>
                                <td>{{ equipement.adresse_mac }}</td>
                                <td>{{ equipement.etat }}</td>
                            </tr>
                           {% endfor %}

                        </tbody>
                    </table>

{% endblock %}