{% extends 'model.html' %}
{% load static %}


    {% block script %}
        <script>
        var option = {
  maintainAspectRatio: false,
  scales: {
      scaleLabel:{
          display:true,
          labelString: 'TEST',
      },
    yAxes: [{
        label:"test",
      stacked: true,
      gridLines: {
        display: false,
        color: "rgba(255,99,132,0.2)"
      }
    }],
    xAxes: [{

      gridLines: {
        display: false
      }
    }]
  }
};
        var N = 10;
        // Array filled with N values at '0'
        var zero_array = [];

        for (i = 0; i < N; i++)
            zero_array.push(0);

        var endPoint =" api/info/{{ equipement.id }}";
          var defaultData = [];
        var cpu_data = [];
        var cpu_lable = [];
        var label = [];
        var ram_data = [];
        var byte_dat1 = [];
        var byte_dat2 = [];
        var byte_label1 = [];
        var byte_label2 = [];
        var myChart1 = null;
        var myChart2 = null;
        var myChart3 = null;
        var myChart4 = null;

        $.ajax({
            method :'GET',
            url :endPoint,
            success:function (data) {

                window.onload =function main () {
                    label = data.label;
                defaultData = data.default;
                cpu_lable =data.cpuLabel;
                cpu_data = data.cpuInfo;
                ram_data = data.ramInfo;
                byte_dat1 = data.byteInfo1;
                zero_array = data.byteInfo2;
                setChart();
                setCpuChart();
                setRamChart();
                setByteChart();
                setBandeChart();
                console.log(data);
                rand_value();
                interval= window.setTimeout(rand_value,2000);


                 };
              // interval= setTimeout(first,5000)

            },
            error:function (error_data) {


            }
        });


  function setChart() {
      var ctx = document.getElementById("Chart").getContext('2d');
      ctx.canvas.width = 100;
        ctx.canvas.height = 100;
    var myChart1 = new Chart(ctx, {
    type: 'pie',
    data:  {
        labels: label,
        datasets: [{
            label: 'Mémoir du disque dur',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,


        }]
    },
    options:option
});
  }


  function setCpuChart() {
      var ctx = document.getElementById("cpuChart").getContext('2d');
      ctx.canvas.width = 100;
        ctx.canvas.height = 100;
   var  myChart2 = new Chart(ctx, {
    type: 'line',
    data:  {
        labels: cpu_lable,
        datasets: [{
            label: 'Fréquence du CPU ',
            data: cpu_data,
            backgroundColor: [

                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [

                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,

        }]
    },
    options:option
});
  }

   function setRamChart() {
      var ctx = document.getElementById("ramChart").getContext('2d');
      ctx.canvas.width = 100;
        ctx.canvas.height = 100;
   var  myChart3 = new Chart(ctx, {
    type: 'line',
    data: {
        labels: label,
        datasets: [{
            label: 'Mémoir Ram',
            data: ram_data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,

        }]
    },
    options:option
});
  }

   function setByteChart() {
      var ctx = document.getElementById("byteChart").getContext('2d');
      ctx.canvas.width = 100;
        ctx.canvas.height = 100;
   var  myChart4 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Envoyé ','Reçu '],
        datasets: [{
            label: ' ',
            data: byte_dat1,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,

        },
        ]
    },
    options:option
});
  }

  function setBandeChart() {
      var ctx = document.getElementById("bandeChart").getContext('2d');
      ctx.canvas.width = 100;
        ctx.canvas.height = 100;
     myChart4 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Bande passante '],
        datasets: [{
            label: ' ',
            data: zero_array,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,

        },
        ]
    },
    options:option
});
  }

  function addData() {
    myChart3.data.datasets[0].data.push(50);
    myChart3.update();
}
function requet() {
    $.ajax({
            method :'GET',
            url :endPoint,
            success:function (data) {
                label = data.label;
                defaultData = data.default;
                cpu_lable =data.cpuLabel;
                cpu_data = data.cpuInfo;
                ram_data = data.ramInfo;
                byte_dat1 = data.byteInfo1;
                zero_array = data.byteInfo2;
                console.log(data);

              // interval= setTimeout(first,5000)

            },
            error:function (error_data) {


            }
        });

}

function rand_value() {
        // Generate a random integer
        requet();

        // Remove the point at the far left of the chart
       // myChart4.removeData();
         myChart4.data.datasets[0].data = [zero_array] ;
        myChart4.update();

        // Add the random value at the far right of the chart
        //myChart4.addData();

    }

        </script>




    {% endblock %}

{% block content %}
    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
    {% endif %}
       <div class="chart-container" style="position: relative; height:40vh; width:40vw">
    <canvas id="Chart"></canvas>
</div>

     <div class="chart-container" style="position: relative; height:40vh; width:40vw">
    <canvas id="cpuChart"></canvas>
</div>

    <div class="chart-container" style="position: relative; height:40vh; width:40vw">
    <canvas id="ramChart"></canvas>
</div>
     <div class="chart-container" style="position: relative; height:40vh; width:40vw">
    <canvas id="byteChart"></canvas>
</div>
     <div class="chart-container" style="position: relative; height:40vh; width:40vw" onclick="rand_value()">
    <canvas id="bandeChart"></canvas>
</div>


{% endblock %}