{% extends 'model.html' %}
{% load static %}


    {% block script %}

        <script>
        let cpuChart = document.getElementById("cpuChart");
let diskMemoryChart = document.getElementById("diskMemoryChart");
let ramChart = document.getElementById("ramChart");
let bandeChart = document.getElementById("bandeChart");
var endPoint =" api/info/{{ equipement.id }}";


function lineChartConfig(optionParametersValues){
	return {
       legend : { display : optionParametersValues.isLegendDisplay },
       title : {
        display : optionParametersValues.isTitleDisplay,
        text : optionParametersValues.title
       },
       scales: {
            yAxes: [{
                id: 'first-y-axis',
                type: 'linear',
                display: false,
                ticks: {
                  max:optionParametersValues.max,
                  beginAtZero: true
                },
                scaleLabel: {
                  display: true,
                  labelString: optionParametersValues.labelString
                }
            }, {
                id: 'second-y-axis',
                type: 'linear',
                position: 'left',
                ticks: {
                  max:optionParametersValues.max,
                  beginAtZero: true
                },
                scaleLabel: {
                  display: true,
                  labelString: optionParametersValues.labelString
                }
            }],
            xAxes: [{
              display: false
            }]
        }
	};
}

function ajaxDataGetter(){
	$.ajax({
		method :'GET',
		url: endPoint,
		success: function(data){
		    console.log(data.cpuInfo);
			getData(data.cpuInfo);
		},
		error: function(){
			console.log("Error....")
		}
	});
}

function createLineChart(element, chartParametersValues){
	return new Chart(element, {
		type:'line',
		data: {
    		labels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
		    datasets: [
		      {
		        data: [],
		        label: chartParametersValues.data.label,
		        borderColor: "#3e95cd",
		        fill: false,
		        pointRadius: 2,
		        pointBackgroundColor: [],
		        pointBorderColor: ["#000000", "#800000", "#000075", "#ffe119", "#42d4f4", "#008000", "#0000FF", "#800080", "#FFA500", "#00FA9A"],
		        pointHoverRadius: 10,
		        yAxisID: 'first-y-axis'
		      }
		    ]
		  },
		options: lineChartConfig(chartParametersValues.chartOptionValues)
	});
}


lineChartParametersValues = {
	data:{
		label:"CPU%"
	},
	chartOptionValues:{
		isLegendDisplay: true,
		isTitleDisplay: true,
		title: "Historique d'utilisation du CPU",
        labelString: "Frequence"
	}
}

//Initialize Chart
let contextChartLine1 = createLineChart(cpuChart, lineChartParametersValues); //CPU Initialization


var getData = function(ajaxData) {

  //CPU Chart Section Start
  let onlyLineOfChartLine1 = contextChartLine1.data.datasets[0];
  let dataOfOnlyLineOfChartLine1 = onlyLineOfChartLine1.data;

  if (dataOfOnlyLineOfChartLine1.length >= 50) {
    dataOfOnlyLineOfChartLine1.pop();
    onlyLineOfChartLine1.pointBackgroundColor.pop();
  }
  let theData = ajaxData;
  dataOfOnlyLineOfChartLine1.unshift(theData);
  console.log(theData);

  onlyLineOfChartLine1.pointBackgroundColor.unshift("#"+Math.floor(Math.random()*16777215).toString(16));
  //CPU Chart Section End

    console.error(ajaxData)
  contextChartLine1.update();

}

setInterval(ajaxDataGetter, 1000);
        </script>




    {% endblock %}

{% block content %}
    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
    {% endif %}
       <div class="chart-container" style="position: relative; height:40vh; width:40vw">
    <canvas id="Chart"></canvas>
</div>

     <div class="chart-container" style="position: relative; height:40vh; width:40vw">
    <canvas id="cpuChart"></canvas>
</div>

    <div class="chart-container" style="position: relative; height:40vh; width:40vw">
    <canvas id="ramChart"></canvas>
</div>
     <div class="chart-container" style="position: relative; height:40vh; width:40vw">
    <canvas id="byteChart"></canvas>
</div>
     <div class="chart-container" style="position: relative; height:40vh; width:40vw" onclick="rand_value()">
    <canvas id="bandeChart"></canvas>
</div>


{% endblock %}